@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "IBM Plex Mono", monospace;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.95);
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--background-secondary: 30 11% 98%;
		--background-muted: 30, 9%, 96%;
		--foreground: 20 13% 14%;
		--foreground-secondary: 15 12% 19%;
		--foreground-tertiary: 15 11% 40%;
		--foreground-accent: 9 81% 53%;
		--card: 0 0% 100%;
		--card-hover: 30 11% 98%;
		--border: 18 16% 87%;
		--border-hover: 16 15% 86%;
		--border-secondary: 24 16% 94%;
		--border-accent: 9 81% 53%;
		--border-success: 148, 87%, 28%;
		--border-negative: 327, 86%, 51%;
		--primary: 9 81% 53%;
		--primary-foreground: 0 0% 100%;
		--primary-hover: 9 81% 58%;
		--secondary: 17 17% 92%;
		--secondary-hover: 15 20% 96%;
		--input: 15 15% 95%;
		--input-hover: 15 20% 96%;
		--accent: 9 81% 53%;
		--accent-foreground: 0 0% 100%;
		--popover: 30 11% 98%;
		--popover-hovered: 30 5% 94%;
		--popover-foreground: 20 13% 14%;
		--tooltip: 30 11% 98%;
		--tooltip-foreground: 30 11% 98%;
		--switch: 17, 17%, 92%;
		--switch-foreground: 0 0% 100%;
		--switch-foreground-disabled: 0 0% 100%;
		--switch-foreground-hovered: 0 0% 100%;
		--destructive: 352 81% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 0 0% 100%;
		--radius: 0rem;
		--success: 101, 78%, 90%;
		--success-foreground: 148, 87%, 28%;
		--info: 217 90% 8%;
		--info-foreground: 217 100% 55%;
		--warning: 41 90% 8%;
		--warning-foreground: 40 100% 55%;
		--negative: 324 67% 96%;
		--negative-foreground: 327, 86%, 51%;
		--border-success: 104 62% 78%;
		--border-info: 217 100% 55%;
		--border-warning: 40 100% 55%;
		--border-negative: 324 67% 91%;
		--scanline: 20 13% 14%;
		--statlabel: 9 81% 53%;
		--statlabel-foreground: 0 0% 100%;
		--chart-1: 9 81% 53%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 10 38% 3%;
		--background-secondary: 9 47% 6%;
		--background-muted: 10 47% 7%;
		--foreground: 8 42% 90%;
		--foreground-secondary: 9 32% 63%;
		--foreground-tertiary: 9 30% 50%;
		--foreground-accent: 9 81% 53%;
		--card: 8 44% 7%;
		--card-hover: 9 46% 8%;
		--border: 9 47% 27%;
		--border-secondary: 9 46% 21%;
		--border-hover: 9 45% 20%;
		--border-accent: 9 81% 53%;
		--border-negative: 308 80% 16%;
		--primary: 9 81% 53%;
		--primary-foreground: 10 38% 3%;
		--primary-hover: 9 81% 58%;
		--secondary: 10 44% 14%;
		--secondary-hover: 8 44% 16%;
		--input: 9 43% 9%;
		--input-hover: 8 43% 11%;
		--accent: 9 81% 53%;
		--accent-foreground: 10 38% 3%;
		--popover: 9 47% 6%;
		--popover-hovered: 9 46% 9%;
		--popover-foreground: 8 42% 90%;
		--tooltip: 8 42% 90%;
		--tooltip-foreground: 10 38% 3%;
		--switch: 9, 43%, 18%;
		--switch-foreground: 9 44% 28%;
		--switch-foreground-disabled: 9 46% 11%;
		--switch-foreground-hovered: 9 44% 33%;
		--destructive: 352 81% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 9 100% 60%;
		--radius: 0rem;
		--success: 148 90% 8%;
		--success-foreground: 148 100% 55%;
		--info: 217 90% 8%;
		--info-foreground: 217 100% 55%;
		--warning: 41 90% 8%;
		--warning-foreground: 40 100% 55%;
		--negative: 308 90% 8%;
		--negative-foreground: 308 100% 55%;
		--border-success: 150 75% 16%;
		--border-info: 217 100% 55%;
		--border-warning: 40 100% 55%;
		--border-negative: 311 84% 15%;
		--scanline: 9 81% 53%;
		--statlabel: 9 81% 53%;
		--statlabel-foreground: 10 38% 3%;
		--chart-1: 9 81% 53%;
		--chart-2: 9 46% 11%;
		--chart-3: 9, 32%, 63%;
		--chart-4: 308, 64%, 62%;
		--chart-5: 148, 100%, 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
