@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hubot Sans";
  src:
    url("./assets/fonts/HubotSans/Hubot-Sans.woff2")
      format("woff2 supports variations"),
    url("./assets/fonts/HubotSans/Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  font-family:
    "Hubot Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  background-color: #1a1b1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  accent-color: #eb5e28;
}
